@import "tailwindcss";
*,
*::before,
*::after{
    box-sizing: border-box;
}
:root{
    --primary-color : #462C7D; 
    --secondary-color : #831C91;

    --space-sm : 8px;
    --space-md : 16px;
    --space-lg : 32px;

    --radius-md : 10px;
    
    --gap : 10px;

}

.heroSection{
    padding: var(--space-md);
    


    background-image: linear-gradient(rgba(70,44,125,0.75),rgba(131,28,145,0.75)),url("/cityBackground.jpg");

    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
    border-radius: var(--radius-md);
    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    padding: 16px;
}


@media (max-width : 768px){
    .heroSection{
        padding: var(--space-sm);
    }
}